:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.gallery-container {
  color: var(--primary-color);
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
}


.fields {
  padding-top: 1rem;
  font-family: var(--secondary-body-font);
  color: darkslategray
}

.publish-button,
.btn,
button {
  margin: .25rem 0;
  text-align: center;
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
}


